<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="assets/hello_world.js" />
  <script src="assets/doesn_nothing.js" />
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
